.chatbot-container {
  background-color: #fcfcfc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 50%;
  min-height: calc(100vh - 80px);
  margin: 1.9cm auto 0;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 0px;
  width: calc(49.5% - 0px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 2%;
  box-sizing: border-box;
  background-color: transparent;
}

.ask-me-input {
  border: 1px solid transparent;
  outline: none;
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  border-radius: 30px;
  background-color: transparent;
}

.ask-me-input::placeholder {
  color: #a6a6a6;
}

.send-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-right: 1.5%;
}

.send-button:disabled {
  cursor: default;
}

.send-button:hover .send-icon {
  color: #555;
}

.ask-me-input::placeholder {
  color: #aaa;
}

/*  */

.message-list {
  background: #fcfcfc;
  padding-bottom: 15%;
  display: flex;
  flex-direction: column;
}

.user {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 6px 10px;
  margin: 10px;
  display: inline-block;
  max-width: 70%;
  word-wrap: break-word;
  width: auto;
  align-self: flex-end;
}

.prompt {
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #667085;
}

/*  */

.agent {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 6px 10px;
  margin: 10px;
  display: inline-block;
  max-width: 70%;
  word-wrap: break-word;
  width: auto;
  align-self: flex-start;
}

.answer {
  color: #667085;
  margin-bottom: 6%;
  padding: 0px;
  margin-top: 0px;
}

.alt-text {
  color: #aaa;
}

.choices-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.choice-button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 7px 7px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.choice-button:hover {
  background-color: #555;
}
